.autocalc-box {
  z-index: 999;
  h1 {
    margin-bottom: 2.5vw;
  }
  p {
    margin-bottom: .5vw;
  }
}

.retencion-title:before {
  content: '\f013';
  font-family: 'FontAwesome';
  margin-right: 2vw;
  opacity: .5;
}

.iva-title:before {
  content: '\f013';
  font-family: 'FontAwesome';
  margin-right: 2vw;
  opacity: .5;
}