.display-box {
  height: 20%;
  text-align: right;
  margin-top: -10vw;
}

.old-box {
  p {
    font-size: 5vw;
  }
}

.old-three {
  opacity: .05;
}

.old-two {
  opacity: .1;
}

.old-one {
  opacity: .5;
}


.actual-display {
  font-size: 15vw;
}