#calculanceView {
    flex-direction: row;
    padding: 2vw;
}

nav {
    top: 2vw;
    left: 2vw;
    right: inherit;
    height: 5vw;
    p {
        font-size: 1.75vw;
    }
}

.top-box {
    width: 50%;
    height: calc(100% - 32vw);
}

.numpad-box {
    width: 50%;
    height: calc(100% - 28vw);
    div {
        font-size: 3.5vw;
        height: calc(20vh - 4vw);
    }
}

#reset,#divisor,#delete {
    font-size: 2.5vw;
}

#equal {
    width: 7vw;
    height: 7vw;
    margin-left: 2.5vw;
}

h1,
h2,
h3 {
    font-size: 4vw;
}

p {
    font-size: 1.75vw;
}

hr {
    position: fixed;
    top: 14vw;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 96vw;
}

.display-box {
    top: 2vw;
    right: 2vw;
    height: 22vw;
}

.actual-display {
    font-size: 8vw;
}

.close {
    top: 2vw;
    left: 2vw;
}

#about {
    h2 {
        margin: 3vw 0 3vw 0;
    }
}

.switch {
    width: 8vw;
    height: 4vw;
    &:after {
        width: 5vw;
        height: 5vw;
    }
}