<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="apple-touch-icon" type="image/png" href="assets/apple.png">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="theme-color" content="#2B2B2B">
  <link rel="icon" type="image/png" href="assets/android.png">
  <link rel="icon" type="image/png" href="assets/favicon.png">
  <!-- Posicionamiento -->
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="KACTUS studio 2017©">
  <title>C4LCUL4NC3</title>
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="css/estilos.css">
  <link rel="stylesheet" type="text/css" media="only screen and (min-width: 700px)" href="css/l-estilos.css">
  <!-- Fonts/Icons -->
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,600" rel="stylesheet">
</head>

<body ng-app="calcApp">

  <main id="calculanceView" ng-controller="calcCon">

    <nav id="logo">
      <img src="assets/calculance-logo.svg" alt="calculance | KACTUS">
    </nav>

    <div class="autocalc-box">
      <div class="retencion-box">
        <p class="retencion-title">irpf = {{retLow}}%</p>
        <h1 id="retencionDisplay">{{val * 7 / 100}}€</h1>
      </div>

      <div class="iva-box">
        <p class="iva-title">iva = {{ivaHigh}}%</p>
        <h1 id="ivaDisplay">{{val * 21 / 100}}€</h1>
      </div>

      <div class="total-box">
        <p class="total-title">TOTAL</p>
        <h1 id="totalDisplay">{{val + imp}}€</h1>
      </div>
    </div>

    <div class="display-box">

      <div class="old-box">
        <p class="old-three">{{val}}</p>
        <p class="old-two">{{val}}</p>
        <p class="old-one">{{val}}</p>
      </div>

      <div class="actual-box">
        <p class="actual-display">{{val}}</p>
      </div>
    </div>

    <hr>

    <div class="numpad-box">
      <div class="num-btn" id="reset" ng-click="resetCalc(0)">AC</div>
      <div class="empty-btn" id="empty"></div>
      <div class="empty-btn" id="empty"></div>
      <div class="num-btn" id="divisor" ng-click="addNum('/')">/</div>
      <div class="num-btn" id="numOne" ng-click="addNum(1)">1</div>
      <div class="num-btn" id="numTwo" ng-click="addNum(2)">2</div>
      <div class="num-btn" id="numthree" ng-click="addNum(3)">3</div>
      <div class="num-btn" id="multiplier" ng-click="addNum('*')">*</div>
      <div class="num-btn" id="numFour" ng-click="addNum(4)">4</div>
      <div class="num-btn" id="numFive" ng-click="addNum(5)">5</div>
      <div class="num-btn" id="numSix" ng-click="addNum(6)">6</div>
      <div class="num-btn" id="minus" ng-click="addNum('-')">-</div>
      <div class="num-btn" id="numSeven" ng-click="addNum(7)">7</div>
      <div class="num-btn" id="numEight" ng-click="addNum(8)">8</div>
      <div class="num-btn" id="numNine" ng-click="addNum(9)">9</div>
      <div class="num-btn" id="plus" ng-click="addNum('+')">+</div>
      <div class="empty-btn" id="empty"></div>
      <div class="num-btn" id="numZero" ng-click="addNum(0)">0</div>
      <div class="num-btn" id="coma" ng-click="addNum(',')">,</div>
      <div class="equal-btn" id="equal" ng-click="addNum('=')">=</div>
    </div>

  </main>

  <div class="no-landscape"></div>

  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-touch-events/1.0.5/jquery.mobile-events.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="js/app.js"></script>

</body>

</html>