<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="apple-touch-icon" type="image/png" href="assets/apple.png">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="theme-color" content="#2B2B2B">
  <link rel="icon" type="image/png" href="assets/android.png">
  <link rel="icon" type="image/png" href="assets/favicon.png">
  <!-- Posicionamiento -->
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="KACTUS studio 2017©">
  <title>C4LCUL4NC3</title>
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="css/estilos.css">
  <link rel="stylesheet" type="text/css" media="only screen and (orientation: landscape)" href="css/l-estilos.css">
  <!-- Fonts/Icons -->
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,600" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body ng-app="calcApp">

  <main id="calculanceView" ng-controller="calcCon">

    <nav id="logo">
      <img src="assets/calculance-logo.svg" alt="calculance | KACTUS">
      <p>C4LCUL4NC3</p>
    </nav>

    <div class="top-box">
      <div class="autocalc-box">
        <div class="retencion-box" ng-click="changeRet()">
          <p class="retencion-title">IRPF {{ret}}%</p>
          <h1 id="retencionDisplay">{{-output * ret / 100 | number: '2'}}€</h1>
        </div>

        <div class="iva-box" ng-click="changeIva()">
          <p class="iva-title">IVA {{ivas[iva]}}%</p>
          <h1 id="ivaDisplay">{{output * ivas[iva] / 100 | number: '2'}}€</h1>
        </div>

        <div class="total-box">
          <p class="total-title">TOTAL</p>
          <h1 id="totalDisplay">{{output - (output * ret / 100) + (output * ivas[iva] / 100) | number: '2'}}€</h1>
        </div>
      </div>

      <div class="display-box">

        <div class="old-box">
          <p class="old">BASE IMPONIBLE</p>
        </div>

        <div class="actual-box">
          <p class="actual-display">{{output}}</p>
        </div>
      </div>
    </div>

    <hr>

    <div class="numpad-box">
      <div class="num-btn" id="reset" ng-click="output = '0'">AC</div>
      <div class="num-btn" id="delete" ng-click="press('x')">DEL</div>
      <div class="empty-btn" id="empty"></div>
      <div class="num-btn" id="divisor" ng-click='operate("/")'>/</div>
      <div class="num-btn" id="numOne" ng-click="press('1')">1</div>
      <div class="num-btn" id="numTwo" ng-click="press('2')">2</div>
      <div class="num-btn" id="numthree" ng-click="press('3')">3</div>
      <div class="num-btn" id="multiplier" ng-click='operate("*")'>*</div>
      <div class="num-btn" id="numFour" ng-click="press('4')">4</div>
      <div class="num-btn" id="numFive" ng-click="press('5')">5</div>
      <div class="num-btn" id="numSix" ng-click="press('6')">6</div>
      <div class="num-btn" id="minus" ng-click='operate("-")'>-</div>
      <div class="num-btn" id="numSeven" ng-click="press('7')">7</div>
      <div class="num-btn" id="numEight" ng-click="press('8')">8</div>
      <div class="num-btn" id="numNine" ng-click="press('9')">9</div>
      <div class="num-btn" id="plus" ng-click='operate("+")'>+</div>
      <div class="empty-btn" id="empty"></div>
      <div class="num-btn" id="numZero" ng-click="press('0')">0</div>
      <div class="num-btn" id="comna" ng-click="press('.')">,</div>
      <div class="equal-btn" id="equal" ng-click="equal()">=</div>
    </div>

  </main>

  <article id="about" ng-controller="calcCon">
    <div class="close"><i class="fa fa-chevron-left" aria-hidden="true"></i>ATRAS</div>
    <img src="assets/kactus-logo.svg" alt="KACTUS">
    <p>Para más información visítanos en:</p>
    <a href="www.kactusstudio.com">www.kactusstudio.com</a>
    <h2>{{color}}</h2>
    <div class="switch dark" ng-click="colorChange()"></div>
  </article>

  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-touch-events/1.0.5/jquery.mobile-events.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="https://code.angularjs.org/1.6.4/angular-touch.min.js"></script>
  <script src="js/angular-es_es.js"></script>
  <script src="js/fastclick.js"></script>
  <script>
    $(function(){
      FastClick.attach(document.body);
    });
  </script>
  <script src="js/app.js"></script>

</body>

</html>